html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

header, footer, section {
  display: block;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', Myriad, Calibri, sans-serif;
	font-weight: bold;
}

body {
	background: #ece4d8;
	font: normal normal 15px/1.5 Georgia, Palatino,” Palatino Linotype”, Times, “Times New Roman”, serif;
	color: #544943;
	-webkit-font-smoothing: antialiased;
}

header {
	position: relative;
	z-index: 2;
	margin: 0 auto;
	max-width: 600px;
	top: 38px;
}

.mainContent {
	padding: 20px 82px 0;
	min-height: 185px;
}

.outer {
	display: block;
	width: 670px;
	margin: 0 auto;
}

.forkBanner {
	position: absolute;
	top: 0;
	left: 0;
	width: 138px;
	height: 138px;
	display: block;
	background: transparent url(/images/fork-sprite.png) 0 0 no-repeat;
	text-indent: -9000px;
}

.bannerFix {
	background: transparent url(/images/download-fallback-bg.png) center top no-repeat;
	display: block;
	height: 19px;
	position: absolute;
	width: 670px;
	top: 19px;
}

.ribbon_inner {
	position: relative;
	display: block;
	background-color: #cd596b;
	border: 4px solid #7c334f;
	padding: 2px;
	z-index: 1;
}

.ribbon_inner h1 {
	background-color: #7c334f;
	font-size: 2.5em;
	font-weight: 800;
	font-style: normal;
	text-transform: uppercase;
	color: #ece4d8;
	text-align: center;
	line-height: 1;
	padding: 14px 20px 0;
}

.ribbon_inner h2 {
	background-color: #7c334f;
	font: bold italic .85em/1.5 Georgia, Times, “Times New Roman”, serif;
	color: #e69b95;
	padding-bottom: 14px;
	margin-top: -3px;
	text-align: center;
}

.ribbon_leftTail,
.ribbon_rightTail {
	position: relative;
	display: block;
	width: 56px;
	height: 105px;
	background: transparent url(/images/ribbon-tail-sprite.png) 0 0 no-repeat;
	position: absolute;
	bottom: -37px;
	z-index: 0;
}

.mainContent:before {
	position: absolute;
	display: block;
	height: 197px;
	width: 550px;
	padding: 0 60px;
	margin: 0;
	background: transparent url(/images/bg-ramp.jpg) center 0 no-repeat;
	content: "";
	top: 0;
	left: 0;
}

.ribbon_leftTail {
	background-position: 0 0;
	left: -31px;
}

.ribbon_rightTail {
	background-position: -56px 0;
	right: -31px;
}

.csspg-gutter.ace_editor {
  position:absolute;
  top:0;
  right:0;
  width:500px;
  height:100%;
  z-index:100;
}
.ace_scroller {
  text-align: left;
}

.headerInner {
	font-size: 1.85em;
	border-bottom: .2em double #d3ccc1;
	color: #7c334f;
	text-align: center;
	font-style: italic;
	margin: 1.1em 0 .38em;
	line-height: 1.2;
	padding-bottom: 10px;
}
